# Quake Data Analysis
This notebook will allow me to take a look at the data, and figure out some inputs for plot.ly dash.

In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv("https://opendata.socrata.com/api/views/77jn-2ym9/rows.csv")
df = df.dropna()
df = df.drop(columns="updated")
df = df.drop(columns="id")
df = df.drop(columns="Location 1")
df['State'] = df['place'].str.split(',').str[1]
df = df.drop(columns="place")
df = df.drop(columns="time")

In [28]:
df.head(5)

   depth   mag magType   nst    gap     dmin   rms net        type        State
0   0.85  1.50      md   8.0  144.0  0.02065  0.04  nc  earthquake   California
1   8.02  1.62      ml  69.0   26.0  0.04703  0.19  ci  earthquake   California
2   9.49  2.04      md  13.0   92.0  0.00605  0.08  nc  earthquake   California
4   2.12  1.34      ml  48.0   68.0  0.02128  0.18  ci  earthquake   California
6  13.53  0.46      ml  23.0  104.0  0.02490  0.11  ci  earthquake   California

In [29]:
# we need to add a slider for depth, magnitude,
# a combobox for magnitude type, net, and type
# and sliders for nst, gap, dmin, and rms
print("Magnitude Types for combobox:",df.magType.unique())
print("net cats:",df.net.unique())

Magnitude Types for combobox: ['md' 'ml' 'Md' 'mw' 'mb' 'mh' 'Ml' 'Mb' 'mlg']
net cats: ['nc' 'ci' 'hv' 'uw' 'pr' 'nn' 'mb' 'uu' 'nm' 'ismpkansas' 'ld' 'se']

In [30]:
print("Quake Types for combobox:",df.type.unique())

Quake Types for combobox: ['earthquake' 'explosion' 'quarry blast' 'rockslide' 'chemical explosion']

In [31]:
print("rms min - max: ",df['rms'].min()," - ",df['rms'].max())

rms min - max:  0.0  -  1.04

In [32]:
print("depth min - max: ",df['depth'].min()," - ",df['depth'].max())

depth min - max:  -3.39  -  211.0

In [33]:
print("mag min - max: ",df['mag'].min()," - ",df['mag'].max())

mag min - max:  -1.0  -  4.2

In [34]:
print("gap min - max: ",df['gap'].min()," - ",df['gap'].max())

gap min - max:  12.0  -  356.4

In [35]:
print("dmin min - max: ",df['dmin'].min()," - ",df['dmin'].max())

dmin min - max:  0.00044889999999999996  -  2.1390000000000002

In [36]:
print("nst min - max: ",df['nst'].min()," - ",df['nst'].max())

nst min - max:  0.0  -  166.0

In [0]:
calmas = df['State'] == ' California'

In [0]:
dfcal = df[calmas]

In [42]:
dfcal.head()

   depth   mag magType   nst    gap     dmin   rms net        type        State
0   0.85  1.50      md   8.0  144.0  0.02065  0.04  nc  earthquake   California
1   8.02  1.62      ml  69.0   26.0  0.04703  0.19  ci  earthquake   California
2   9.49  2.04      md  13.0   92.0  0.00605  0.08  nc  earthquake   California
4   2.12  1.34      ml  48.0   68.0  0.02128  0.18  ci  earthquake   California
6  13.53  0.46      ml  23.0  104.0  0.02490  0.11  ci  earthquake   California

In [45]:
denominator = len(df['State'])
numerator = len(dfcal['State'])
print(numerator/denominator)

0.5129895308259015

In [0]:
# California accounts for about 50 percent of the data.